# Detached PGP signature verification

The original Tor Domain Isolator 0.1.3 includes detached OpenPGP signatures for:

```text
457fde159e624aa98179-0.1.3.xpi.asc
background.js.asc
manifest.json.asc
popup.css.asc
popup.html.asc
popup.js.asc
```

Public key

```text
-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: PGPony - PGPony.app

xjMEaqwWdBYJKwYBBAHaRw8BAQdA3LV3gnA0vb1QYJXDgsi1RJ6lNT7w6Ym7gi1r
f11N88bNIUl2YW4gQnVrdmnEhyA8aWJ1a3ZpYzRAZ21haWwuY29tPsKIBBMWCAAw
BYJqrBZ0AhsDBAsJCAcEFQgJChYhBMeN6EOfJRGrANatQ2LHAEwTPJNkBQkDww/A
AAoJEGLHAEwTPJNkWCEBANcDwQa69ivLh2OquCzzCo6xkkAXJhFSdmwA57hgv9dH
AP9HvgBSbnxjq/n7KMCdD8Mra+nqOmhoty9QEksUquR2Dc44BGqsFnQSCisGAQQB
l1UBBQEBB0AExffy3jUaJWG+VsKZ3EWkeudLAmPnxrVubNKvkqVkTAMBCAfCYQQY
FggACQWCaqwWdAIbDAAKCRBixwBMEzyTZKOwAQDvummOa1pHsa8EHtfQ47xX3W5S
eCOQ7GxiLfuuI6yNJgEAi/jxf5j0J6GAug8EgQe0RvnLwb0EPcGvVUV5LtxBVAY=
=dUbG
-----END PGP PUBLIC KEY BLOCK-----
```
